[submodule "vendor/feature-mode"]
	path = vendor/feature-mode
	url = http://github.com/michaelklishin/cucumber.el.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = https://github.com/m2ym/auto-complete.git
